<h1><%=@trips.name%></h1>
Location: <%=@trips.location%>
<br>
Date: <%=@trips.date%>
</br>
<br>
<p><a href="/trips/<%=@trips.id%>/edit">Edit Trip</a></p>
</br>
<a href="/home">Home</a>
<br>
</br>
<p><% if @trips.user == current_user %>
<form action="/trips/<%=@trips.id%>" method="POST">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Delete Trip">
	</form>
<% end %></p>
